.header {
    height: 120px;
    background-image: linear-gradient(0, #97DEFF, #AA77FF);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px;

}

.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item,
.header__navbar-item-link {
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    color: var(--white-color);
}

.header__navbar-item,
.header__navbar-item-link:hover {

    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;


}

.header__navbar-item-bold {
    font-weight: 600;
}

.header__navbar-item--separate::after {
    content: '';
    display: block;
    position: absolute;
    border-left: 1px solid #defb86;
    height: 12px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link {
    text-decoration: none;
}

.header__navbar-icon {
    font-size: 16px;
    margin: 0px 4px;
}

.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}

.header__main-logo-img {
    width: 57px;
    height: 69px;
}

/* Header notify */
.header__notify {
    position: absolute;
    top: 118%;
    right: 0;
    width: 400px;
    background-color: var(--white-color);
    border: 1px solid #d3d3d3;

}

.header__notify-head {
    height: 40px;
    background-color: var(--white-color);

}
.header__notify-header h3 {
    color: #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
}
.header__notify-list {
    padding-left: 0px;

}
.header__notify-item--viewed {
    background-color: #6666664a;
}
.header__notify-item--viewed:hover {
    background-color: #f1f1f1;
}
.header__notify-item {
  /*   display: flex; */
  

}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;

}
.header__notify-img {
    
    width: 50px;
   object-fit: contain;

}
.header__notify-infor {
    margin-left: 12px;
}
.header__notify-name {
    display: block;
    font-size: 14px;
    color: var(--black-color);
    font-weight: 400;
}
.header__notify-desc {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: #666;
}
.header__notify-footer {
    text-align: center;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: black; /* --text-color */
    padding: 16px 16px;
    display: block;
}